.app {
  display: flex;
  
}

.nav {
  padding: 30px;
  background-color: darkblue;

}

.image {
  margin: 3vh 3vw;
  width: 15vw;
  box-shadow: 3px 3px 3px gray;
  border-radius: 3px;

}

.image:hover {
  filter: brightness(1.25);
  }

.modal {
  position: fixed;
  width:10vw;
  height: 6vh;
  z-index: 999;
  box-shadow: 3px 3px 3px gray;
  border-radius: 3px;

}

.modalImg {
  max-width: 30vw;
}